nav.navbar{
	z-index: 3;	
	margin:0;
}
@media only screen and (min-width: 768px){
	nav.navbar{
		background-color: rgba(255, 255, 255, 0);
		border-width: 0;
	}
	.navbar-header .navbar-brand,.navbar-custom .nav li a{
		font-weight: 800;
		color: #fff;
	}
}
.intro-header{
	background-image: url(../img/home-bg.jpg);
	background-size: cover;
}

.intro-header .cont-header{
	color: #fff;
	text-align: center;
	
}
.intro-header .cont-header{
	padding:50px 0;
}
@media only screen and (min-width: 768px){
	.intro-header .cont-header h1{
		font-size: 80px;
		font-weight: 800;
	}
	.intro-header .cont-header{
		padding: 210px 0;
	}
}

hr.intro-divi{
	width: 250px;
	border-top:solid 5px;
}
.intro-header .cont-header .sub-header{
	font-size: 25px;
}
.sns-footer{
	margin:30px auto;
}
.sns-footer ul{
	text-align: center;
	padding: 0;
}

.sns-footer ul li{
	list-style: none;
	display: inline-block;
	cursor: pointer;
	margin:0 10px 0 10px;
}

.sns-footer ul li a{
	color: #404040;
}
.sns-footer ul li a:hover{
	color:#000;
}

.sns-footer p{
	text-align: center;
}









