body{
	font-family: "microsoft yahei";
}

.content-heading .heading{
	text-align: center;
	font-weight: bold;
}
section ul{
	list-style: none;
	padding-left: 0;
}
section ul li a:hover{
	text-decoration: none;
}
section ul li a:focus{
	text-decoration: none;
	outline:none;
}
section ul li a h2{
	font-size: 21px;
	color: #404040;
	margin-top: 0;
}
section ul li a article{
	font-style: italic;
	color: #a3a3a3;
}
.card-action span{
	margin: 13px 16px;
	display: block;
}
section ul li a:hover h2,section ul li a:hover article{
	color: #337ab7;
}
@media only screen and (min-width: 768px){
	section ul li h2{
		font-size: 26px;
	}
}
.pagination{
	text-align: right;
}
.sns-footer{
	margin-bottom: 20px;
}
.sns-footer ul{
	text-align: center;
	padding: 0;
}

.sns-footer ul li{
	list-style: none;
	display: inline-block;
	cursor: pointer;
	margin:0 10px 0 10px;
}

.sns-footer ul li a{
	color: #404040;
}
.sns-footer ul li a:hover{
	color:#000;
}

.sns-footer p{
	text-align: center;
	font-size: 12px;
}
.friendly-link{
	color:#000;
	font-size: 12px;
}
.footer-count{
	text-align: center;
	color:#BBC7CC;
}