<footer class="sns-footer">
      <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
     <ul>
       <li><a href="https://www.facebook.com/liuyuhang.nwu" target="_blank"><i class="fa fa-facebook-square fa-3x"></i></a></li>
       <li><a href="https://twitter.com/InGoogie" target="_blank"><i class="fa fa-twitter fa-3x"></i></a></li>
       <li><a href="http://weibo.com/liuyuhangblog" target="_blank"><i class="fa fa-weibo fa-3x"></i></a></li>
       <li><a href="https://github.com/lyhper" target="_blank"><i class="fa fa-github fa-3x"></i></a></li>
     </ul>
     <p>Copyright © lyhper Blog 2015</p>
      </div>
    </div>
      </div>
    </footer>