<header class="header header-transparent header-waterfall">
    <ul class="nav nav-list pull-left">
        <li>
            <a data-toggle="menu" href="#doc_menu">
                <span class="icon icon-lg">menu</span>
            </a>
        </li>
    </ul>
    <a class="header-logo margin-left-no" href="/index.html">lyhper</a>
    <ul class="nav nav-list pull-right">
        <li class="dropdown margin-right">
            <a class="dropdown-toggle padding-left-no padding-right-no" data-toggle="dropdown">
                <span class="access-hide">Yuhang Liu</span>
                <span class="avatar avatar-sm"><img alt="lyhper avatar" src="/img/favicon.ico"></span>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a class="padding-right-lg waves-attach" href="/about.html"><span class="icon icon-lg margin-right">account_box</span>About Me</a>
                </li>
            </ul>
        </li>
    </ul>
</header>
<nav aria-hidden="true" class="menu" id="doc_menu" tabindex="-1">
    <div class="menu-scroll">
        <div class="menu-content">
            <a class="menu-logo" href="/index.html">Categories</a>
            <ul class="nav">
                {% for category in site.categories %}
                    <li>
                        <a class="collaosed waves-attach" data-toggle="collapse" href="#{{ category|first }}">{{ category|first }} ({{ category | last | size }})</a>
                        <ul class="collapse menu-collapse" id="{{ category|first }}">
                            {% for post in category.last %}
                            <li>
                                <a class="waves-attach" href="{{ post.url }}">{{ post.title }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>
