<!DOCTYPE html>
<html lang="zh-CN">

  {% include head.html %}

  <body>

    {% include header.html %}

    <section>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              {{ content }}
            </div>
          </div>
        </div>
    </section>

    

    {% include footer.html %}
    <script src="{{ "/js/jquery.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
  </body>

</html>
