---
layout: default
---


<style type="text/css">
    header.intro-header{
        background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')
    }
    section article{
      padding: 20px 0;
    }
    @media only screen and (min-width: 768px){
        .intro-header .cont-header{
          padding: 100px 0;
        }
        .intro-header .cont-header h1{
          font-size: 55px;
        }
    }
</style>

<article>
  {{ content }}
</article>

