---
layout: default
---


<style type="text/css">
    h1,h2,h3,h4,h5,h6{
      margin-top: 20px;
      margin-bottom: 20px;
    }
    img{
      width:100%;
    }
    p{
      font-size: 17px;
      line-height: 1.5;
    }
    .cont-header{
        overflow: hidden;
        width:60%;
    }
    .cont-header h2{
        margin-top: 0;
        font-weight: bold;
    }
    section article h2{
      font-size: 25px;
    }
    @media only screen and (max-width: 768px){
      .cont-header h2{
        font-size: 25px;
      }
      section article h2{
        font-size: 20px;
      }
    }
    section article{
      padding: 20px 0;
    }
    @media only screen and (min-width: 768px){
        .intro-header .cont-header{
          padding: 100px 0;
        }
        .intro-header .cont-header h1{
          font-size: 55px;
        }
    }
</style>

<div class="card">
    <div class="card-main">
        <div class="card-inner">
            <article>
                {{ content }}
            </article>
        </div>
    </div>
</div>

<!-- 多说评论框 start -->
  <div class="ds-thread" data-thread-key="{{ page.date | date: "%Y-%m-%d"}}" data-title="{{ page.title }}" data-url="{{ site.url }}{{ page.url }}"></div>
<!-- 多说评论框 end -->
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"lyhper"};
  (function() {
    var ds = document.createElement('script');
    ds.type = 'text/javascript';ds.async = true;
    ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
    ds.charset = 'UTF-8';
    (document.getElementsByTagName('head')[0]
     || document.getElementsByTagName('body')[0]).appendChild(ds);
  })();
  </script>
<!-- 多说公共JS代码 end -->

